<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "admindash.html" %}
{% block body %}
<body>
<h2>ADD SERVICES</h2>
<form action="addserv" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1" class="table table-dark table-bordered table-hover">
    <tr>
      <th scope="row">Services</th>
      <td><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Image</th>
      <td><label>
        <input type="file" name="file" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td><label>
        <input type="text" name="textfield2" />
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="Submit" class="btn btn-primary" />
      </label></th>
    </tr>
  </table>
  <label></label>
</form>
</body>
<!--</html>-->
{% endblock %}