<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "admindash.html" %}
{% block body %}
<body>
<H2>ADD NEW GYM TIME </H2>
<form id="form1" name="form1" method="post" action="wrkhraddd">
  <table width="200" border="1" CLASS="TABLE TABLE-primary TABLE-BORDERED TABLE-HOVER">
    <tr>
      <th scope="row">Day</th>
      <td><label>
        <select name="select">
          <option>MONDAY</option>
          <option>TUESDAY</option>
          <option>WEDNESDAY</option>
          <option>THURSDAY</option>
          <option>FRIDAY</option>
          <option>SATURDAY</option>
        </select>
      </label></td>
    </tr>
    <tr>
      <th scope="row">From Time </th>
      <td><label>
        <input type="text" name="textfield" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">To Time </th>
      <td><label>
        <input type="text" name="textfield2" required/>
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="Submit" class="btn btn-outline-primary" />
      </label></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}