<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "trainerdash.html" %}
{% block body %}
<body><h2>ADD MEASUREMENT</h2>
<form name="form2" method="post" action="">
</form>
<form id="form1" name="form1" method="post" action="bodymes">
  <table width="200" border="0" class="table table-bordered table-primary table-hover">
    <tr>
      <th scope="row">USERNAME</th>
      <td><label>
        <select name="select">
          <option>SELECT</option>
          {% for i in val1 %}
        <option value="{{i['l_id']}}">{{ i['username'] }}<option>
        {% endfor %}
        </select>


      </label></td>
    </tr>
    <tr>
      <th scope="row">DATE</th>
      <td><label>
        <input type="date" name="textfield" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">SHOULDER</th>
      <td><label>
        <input type="NUMBER" name="textfield2" MIN="30"  MAX="150"required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">RIGHT SHOULDER TO ELBOW </th>
      <td><label>
        <input type="NUMBER" name="textfield4"  MIN="30"  MAX="150" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">RIGHT ELBOW TO HAND</th>
      <td><label>
        <input type="NUMBER" name="textfield5"  MIN="30"  MAX="150" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">LEFT SHOULDER TO ELBOW </th>
      <td><label>
        <input type="NUMBER" name="textfield6"  MIN="30"  MAX="150" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">LEFT ELBOW TO HAND</th>
      <td><label>
        <input type="NUMBER" name="textfield7" MIN="30"  MAX="150" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">RIGHT WAIST TO KNEE</th>
      <td><label>
        <input type="NUMBER" name="textfield8"  MIN="30"  MAX="150" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">RIGHT KNEE TO FOOT </th>
      <td><label>
        <input type="NUMBER" name="textfield9" MIN="30"  MAX="150" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">LEFT WAIST TO KNEE </th>
      <td><label>
        <input type="NUMBER" name="textfield10" MIN="30"  MAX="150" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">LEFT LNEE TO FOOT </th>
      <td><label>
        <input type="NUMBER" name="textfield11" MIN="30"  MAX="150" required/>
      </label></td>
    </tr>
  </table>
  <label>
  <input type="submit" name="submit" value="submit" class="btn btn-outline-primary" />
  </label>
</form>
</body>
<!--</html>-->
{% endblock %}