<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "admindash.html" %}
{% block body %}

<body>
<h2>ADD TRAINER</h2>
<h1><a href="/add-trainer">Add Trainer</a></h1>
<form id="form1" name="form1" method="post" action="">
  <table width="400" border="1">
    <tr>
      <th>Sl NO</th>
      <th>Trainer name </th>
      <th>Place</th>
      <th>Gender</th>
      <th>Phone No </th>
      <th>Email</th>
       <th>Dob</th>
      <th>Type</th>
    </tr>
    {% for i in val %}
    <tr>
      <th scope="row"><label>{{loop.index}}</label></th>
      <td><label>{{i['name']}}</label></td>
      <td><label>{{i['place']}}</label></td>
      <td><label>{{i['gender']}}</label></td>
      <td><label>{{i['ph_no']}}</label></td>
      <td><label>{{i['email']}}</label></td>
      <td><label>{{i['dob']}}</label></td>
      <td><label>{{i['type']}}</label></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}