<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "userdash.html" %}
{% block body %}
<body><H2>REQUEST STATUS</H2>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table TABLE-primary table-bordered table-hover">
    <tr><th>Sl no</th>
      <th scope="row">Request</th>
      <td>Trainer</td>
      <td>Date</td>
      <td>Status</td>
    </tr>
    {% for i in val %}
    <tr><th>{{loop.index}}</th>
      <th scope="row">&nbsp;{{i['request']}}</th>
      <td>&nbsp;{{i['name']}}</td>
      <td>&nbsp;{{i['date']}}</td>

      <td>&nbsp;{{i['status']}}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}
