<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "admindash.html" %}
{% block body %}
<body><H2>VERIFYING REQUEST</H2>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered TABLE-primary table-hover">
    <tr><th>SL NO</th>
      <th scope="row">USER</th>
      <th>REQUEST</th>
      <th>DATE</th>
      <th>&nbsp;</th>
    </tr>
    {% for i in val %}
    <tr><th>{{loop.index}}</th>
      <th scope="row">{{i['username']}}</th>
      <td>{{i['request']}}</td>
      <td>{{i['date']}}</td>
      <td>
      <p><a href="assigntrain/{{ i['r_id'] }}#about" class="btn btn-primary">Assign</a></p></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}