<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
<!--<style>-->
  <!--#customers {-->
    <!--font-family: Arial, Helvetica, sans-serif;-->
    <!--border-collapse: collapse;-->
    <!--width: 100%;-->
  <!--}-->

  <!--#customers td, #customers th {-->
    <!--border: 1px solid #ddd;-->
    <!--padding: 8px;-->
  <!--}-->

  <!--#customers tr:nth-child(even){background-color: #f2f2f2;}-->

  <!--#customers tr:hover {background-color: #ddd;}-->

  <!--#customers th {-->
    <!--padding-top: 12px;-->
    <!--padding-bottom: 12px;-->
    <!--text-align: left;-->
    <!--background-color: #1179f0;-->
    <!--color: white;-->
  <!--}-->
  <!--</style>-->

{% extends "admindash.html" %}
{% block body %}
<body><h2>DETAILS OF USER</h2>
<form id="form1" name="form1" method="post" action="">
  <table width="400" border="1" class="table TABLE-primary table-bordered table-hover" >

    <tr>
      <th> SI NO</th>
      <th>USER </th>
      <th>PLACE</th>
      <th>GENDER</th>
      <th>DOB</th>
      <th>EMAIL</th>
      <th>PHONE</th>
      <th>HEIGHT</th>
      <th>WEIGHT</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{loop.index}}</td>
      <td>{{i['username']}}</td>
      <td>{{i['place']}}</td>
      <td>{{i['gender']}}</td>
       <td>{{i['dob']}}</td>
      <td>&nbsp;{{i['email']}}</td>
      <td>{{i['ph_no']}}</td>
      <td>{{i['height']}}</td>
      <td>{{i['weight']}}</td>
    </tr>
    {% endfor %}

  </table>
</form>
</body>
<!--</html>-->
{% endblock %}