<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "trainerdash.html" %}
{% block body %}
<body><H2>MARK ATTENDANCE</H2>
<form id="form1" name="form1" method="post" action="/ATTANDANCEMARK3">
  <table width="277" border="1" class="table table-primary table-bordered table-hover">
    <tr>
      <th width="109" scope="row">ATTENDANCE</th>
      <th width="152" scope="row"><p>
        <label>
          <input type="radio" name="RadioGroup1" value="present" />
          PRESENT
        </label>
        <br />
        <label>
          <input type="radio" name="RadioGroup1" value="absent" />
          ABSENT
        </label>
        <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="update" value="Submit" class="btn btn-outline-primary" />

      </label></th>
    </tr>
        <br />
      </p></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}