<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>-->
<!--&lt;!&ndash;<MMString:LoadString id="insertbar/formsButton" />&ndash;&gt;-->
<!--</title>-->
<!--&lt;!&ndash; Copyright 2000, 2001, 2002, 2003 Macromedia, Inc. All rights reserved. &ndash;&gt;-->
<!--</head>-->
{% extends "trainerdash.html" %}
{% block body %}
<body><h2>DIET PLAN </h2>
<form id="form1" name="form1" method="post" action="editdiet">
  <table width="200" border="1" class="table table-primary table-hover">
    <tr>
      <th scope="row">User  </th>
      <td><label>
        <select name="select">
          {% for i in val1%}
          <option value="{{i['l_id']}}"> {{i['username']}}</option>
          {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Diet Name </th>
      <td><label>
        <input type="text" name="textfield"  value="{{val['dietname']}}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td><label>
        <input type="text" name="textfield2" value="{{val['description']}}" />
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"> <input type="submit" name="Submit" value="update" class="btn btn-outline-primary" /></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}