<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>-->
<!--&lt;!&ndash;<MMString:LoadString id="insertbar/formsButton" />&ndash;&gt;-->
<!--</title>-->
<!--&lt;!&ndash; Copyright 2000, 2001, 2002, 2003 Macromedia, Inc. All rights reserved. &ndash;&gt;-->
<!--</head>-->
{% extends "admindash.html" %}
{% block body %}
<body><H2>ADD EQUIPMENT</H2>
<form action="EQUIPMENTADD2" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1" class="table table-primary table-bordered table-hover">
    <tr>
      <th scope="row">EQUIPMENT</th>
      <td><label>
        <input type="text" name="textfield" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">DESCRIPTION</th>
      <td><label>
        <input type="text" name="textfield2" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">IMAGE</th>
      <td><label>
        <input type="file" name="file" />
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"> <input type="submit" name="Submit" value="ADD" class="btn btn-outline-primary"/></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}