<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>-->
<!--<MMString:LoadString id="insertbar/formsButton" />-->
<!--</title>-->
<!--&lt;!&ndash; Copyright 2000, 2001, 2002, 2003 Macromedia, Inc. All rights reserved. &ndash;&gt;-->
<!--</head>-->
{% extends "userdash.html" %}
{% block body %}
<body><H2> MEMBERSHIP </H2>
<form id="form1" name="form1" method="post" action="makemembership">
  <table width="200" border="1" class="table table-bordered table-primary table-hover">
    <tr>
      <th scope="row">Amount</th>
      <td><label>
        1000/-
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"> <input type="submit" name="Submit" value="Submit" class="btn btn-outline-primary" /></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}