<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "userdash.html" %}
{% block body %}
<body><h2>PERSONAL TRAINER TIME</h2>
<form id="form1" name="form1" method="post" action="shedule_user_to_tr1">
  <table width="200" border="1" class="table table-bordered table-primary table-hover">
    <tr>
      <!--<th scope="row">Trainer name </th>-->
        <th>SI NO</th>
      <th>From Time </th>
      <th>To Time</th>
      <th>Date</th>
    </tr>
     {% for i in val %}
    <tr>
      <!--<th scope="row">{{i['name']}}</th>-->
      <th>{{loop.index}}</th>
      <td>{{i['from_time']}}</td>
      <td>&nbsp;{{i['to_time']}}</td>
      <td>{{i['date']}}</td>
    </tr>
     {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}