<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "userdash.html" %}
{% block body %}
<body>
<h2>Upadte profile</h2>
<form id="form1" name="form1" method="post" action="/updpro">
  <table width="250" border="0" CLASS="TABLE TABLE-DARK TABLE-BORDERED TABLE-HOVER">
    <tr>
      <th width="176" scope="row">Username</th>
      <td width="58"><label>
        <input type="text" name="textfield" value="{{val['username']}}" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">place</th>
      <td><label>
        <input type="text" name="textfield2" value="{{val['place']}}" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><label>
        <input type="text" name="textfield3" value="{{val['email']}}" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Phone no </th>
      <td><label>
        <input type="text" name="textfield4" value="{{val['ph_no']}}" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">DOB</th>
      <td><label>
        <input type="text" name="textfield5" value="{{val['dob']}}" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Gender</th>
      <td><p>
        <label>
          <input type="radio" name="Radio" value="male"  {% if val['gender']=='male'  %}checked {% endif %} />
          Male</label>
        <br />
        <label>
          <input type="radio" name="Radio" value="female" {% if val['gender']=='female'  %}checked {% endif %} />
          Female</label>
        <br />
      </p></td>
    </tr>
    <tr>
      <th scope="row">Height</th>
      <td><label>
        <input type="text" name="textfield8" value="{{val['height']}}" required  />
      </label></td>
    </tr>
     <tr>
      <th scope="row">Weight</th>
      <td><label>
        <input type="text" name="textfield9" value="{{val['weight']}}" required />
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="update" value="Submit" class="btn btn-primary" />

      </label></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}