<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "admindash.html" %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="shedule_user_to_tr1">
  <table width="200" border="1" class="table table-dark table-bordered table-hover">
    <tr>
      <th scope="row">User</th>
      <td><label>
        <select name="select">
          {% for i in val%}
          <option value="{{ i['l_id'] }}">{{ i['username'] }}</option>
          {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Trainer</th>
      <td><label>
        <select name="select2">
          {% for i in val1%}
          <option value="{{ i['l_id'] }}">{{ i['name'] }}</option>
          {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Date </th>
      <td><label>
        <input type="date" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <th scope="row"> time </th>
      <td><label>
        <input type="time" name="textfield2" />
      </label></td>
    </tr>

    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="Submit"class="btn btn-primary" />
      </label></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}