<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "userdash.html" %}
{% block body %}
<body>
<h2> SEND REQUEST FOR PERSONAL TRAINER</h2>
<form id="form1" name="form1" method="post" action="send">
  <table width="200" border="0" class="table table-primary table-bordered table-hover">
    <tr>
      <th scope="row">Request</th>
      <td><label>
        <input type="text" name="textfield" required value=" I need a personal trainer" readonly/>
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="send" class="btn btn-outline-primary"/>
      </label></th>
    </tr>
  </table>
  <label></label>
  <label></label>
</form>
</body>
<!--</html>-->
{% endblock %}