<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
<!--<style>-->
  <!--#customers {-->
    <!--font-family: Arial, Helvetica, sans-serif;-->
    <!--border-collapse: collapse;-->
    <!--width: 100%;-->
  <!--}-->

  <!--#customers td, #customers th {-->
    <!--border: 1px solid #ddd;-->
    <!--padding: 8px;-->
  <!--}-->

  <!--#customers tr:nth-child(even){background-color: #f2f2f2 ;}-->

  <!--#customers tr:hover {background-color:#ddd;}-->

  <!--#customers th {-->
    <!--padding-top: 12px;-->
    <!--padding-bottom: 12px;-->
    <!--text-align: left;-->
    <!--background-color: #1179f0;-->
    <!--color: white;-->
  <!--}-->
  <!--</style>-->

{% extends "admindash.html" %}
{% block body %}
<body><H2> VIEW TRAINER</H2>
<blockquote>
  <form id="form1" name="form1" method="post" action="">
    <table width="200" border="1" class="table table-hover table-primary" >
      <tr>
        <th colspan="8" scope="row"><div align="right"><a href="addt#about" class="btn btn-primary">ADD TRAINER</a></div></th>
      </tr>
      <tr class="blue">
        <th>SI NO</th>
        <th scope="row">TRAINER </th>
        <th>PLACE</th>
        <th>GENDER</th>
        <th>PHONE</th>
        <th>DOB</th>
        <th>EMAIL</th>
        <th>TYPE</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{i['name']}}</td>
        <td>{{i['place']}}</td>
        <td>{{i['gender']}}</td>
        <td>{{i['ph_no']}}</td>
        <td>{{i['dob']}}</td>
        <td>{{i['email']}}</td>
        <td>{{i['type']}}</td>
      </tr>
      {% endfor %}
    </table>
    <div align="right"></div>
  </form>
</blockquote>
</body>
<!--</html>-->
{% endblock %}
