<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "trainerdash.html" %}
{% block body %}
<body>
<H2> USER DETAILS </H2>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" CLASS="TABLE TABLE-DARK TABLE-BORDERED TABLE-HOVER">
    <tr>
      <th scope="row">Username</th>
      <td>Place</td>
      <td>Gender</td>
      <td>Dob</td>
      <td>Email</td>
      <td>Phone</td>

    </tr>
    {% for i in val%}
    <tr>
      <th scope="row">{{i['username']}}</th>
      <td>{{i['place']}}</td>
      <td>&nbsp;{{i['gender']}}</td>
      <td>{{i['dob']}}&nbsp;</td>
      <td>{{i['email']}}&nbsp;</td>
      <td>&nbsp;{{i['ph_no']}}</td>
      <!--<td>&nbsp;<a href="viewmember?id={{i['l_id']}}">View</a> </td>-->
    </tr>
    {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}